html {
  font-size: 14px;
}

:root,
[data-bs-theme=light] {
  --bs-body-bg-rgb: 248, 249, 250;
  --bs-tertiary-bg-rgb: 255, 255, 255;
}

[data-bs-theme=dark] {
  --bs-body-bg-rgb: 33, 37, 41;
  --bs-body-bg: #2B3035;
  --bs-tertiary-bg-rgb: 43, 48, 53;
}

.text-justify {
  text-align: justify;
}

main>div {
  scroll-margin-top: 6rem;
}

.container,
.modal-dialog {
  max-width: 55rem;
}

.hover-effect {
  transition: transform .3s;
  cursor: pointer;
}

.hover-effect:hover {
  box-shadow: var(--bs-box-shadow) !important;
  transform: translateY(-.3rem);
}
